body {
    font-family: sans-serif;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

table {
    margin-top: 20px;
    width: 100%;
}

th {
    background-color: #f2f2f2;
}